.navbar{
    background-color: #02273D;
    border-bottom: 10px solid #E08D14;
    position: fixed;
  /* top: 0; */
  left: 0;
  width: 100%;
  z-index: 10;
  height: 90px;
}
.nav-link:hover{
    color: #E08D14;
}
/* nav ul li a .nav-link:active{
    color: #E08D14;
 
} */
:active{
    color: #E08D14;
}
.container{
    
    background-color: #fd4a03;
    margin: 0;
    height: 60px;
}
.nav-item {
    margin-left: 25%;
}
.navbar-nav {
    margin-left: 10%;

}
a {
    color: white;
    font-size: 25px;
    text-decoration: none;
}
.navbar-toggler-icon{
    display: none;
    background-color: #E08D14;
   
}
img{
    width: 34%;
}
#connecter{
    background: #E08D14;
    font-weight: 700;
    border: #E08D14;
}

@media screen and (max-width: 768px){
    
    .navbar-brand img{
        width: 20%;
    }
    .collapse {
        background-color: #02273D;
    }
    .navbar-toggler-icon{
        display: flex;
        background-color: #E08D14;
       
    }  
    
}
 

  
  
  
  
  
  
  
  
  
  
  
  