:root{
    --main-color: #11101d;
    --color-dark: #1D2231;
    --text-grey:  #fff;
  }
.sidebar{
    width: 245px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    /* z-index: 100;  */
    background: var(--main-color);
    transition: width 300ms;
    background: #02273D;
    border-radius: 10px;
  
  }
  .sidebar img{
    width: 50%;
    margin-top: -50%;
    margin-left: 20%;
  }
  .sidebar-brand{
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    color: #02273D;
  }
  .sidebar-brand span{
    display: inline-block;
    padding-right: 1rem;
  }
  .sidebar-menu li{
    width: 100%;
    margin-bottom: 1.7rem;
    padding-left: 1rem;
    list-style: none;
  
  }
  .sidebar-menu{
    margin-top: 1rem;
  }
  
  .sidebar-menu a{
    /* padding-left: 2rem; */
    display: block;
    color: #fff;
    font-size: 1.1rem;
    margin-right: 20%;
    width: 100%;

  }
  #nav-toggle:checked + .sidebar {
    width: 70px ;
  
  }
  #nav-toggle:checked + .sidebar .sidebar-brand,
  #nav-toggle:checked + .sidebar li 
  {
    padding-left: 1rem;
    text-align: center;
  }
  #nav-toggle:checked + .sidebar li a
  {
    padding-left: 0rem;
  }
  #nav-toggle:checked + .sidebar .sidebar-brand h1 span:last-child,
  #nav-toggle:checked + .sidebar li a span:last-child{
    display: none;
  
  }
  .sidebar-menu a span:first-child{
    font-size: 1.5rem;
    padding-right: 1rem;
  }
  .sidebar-menu a.active{
    background: #E08D14;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
    border-radius: 30px 0px 0px 30px;
    padding-left: 12px;

  }
  .sidebar-menu a{
    text-decoration: none;
  }
  #nav-toggle:checked ~ .main-content {
    margin-left: 70px;
  
  }
  #nav-toggle:checked ~ .main-content  header{
    width: calc(100% - 70px);
    left:70px;
  
  }
  .main-content{
    transition: margin-left 300ms;
    margin-left: 240px;
    border: 1px solid black !important;
  }
  header{
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); */
    position: fixed;
    left: 245px;
    top:0;
    z-index: 10; 
    width: 82%;
    transition: left 300ms;
    }
  
  #nav-toggle{
    display: none;
  }
  header h2{
    color: #222;
  }
  header label span{
    font-size: 1.7rem;
    padding-right: 1rem;
  }
  .search-wrapper {
    border: solid 1px #ccc;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    width:45%;
  }
  .search-wrapper span{
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
  }
  .search-wrapper input{
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
  
  }
  .user-wrapper{
    display: flex;
    align-items: center;
  }
  .user-wrapper img{
    border-radius: 50%;
    margin-right: .5rem;
  }
  
  .user-wrapper small{
    display: inline-block;
    color: var(--text-grey);
    margin-top: -1px !important;
  
  }
  .logout{
    background-color: #FFF;
    width: 70%;
    padding: 5px;
    border-radius: 10px;
  }
   .logout a{
    color: #02273D;

  }
  main{
    margin-top: 85px;
    padding: 2rem 1.5rem;
    background: #fff;
    min-height: calc(100vh - 90px);
  }
  .text{
    justify-content: space-between;
  }
  h1{
    color: #02273D;
  }
  button{
    background-color: #02273D;
    color: white;
    border-radius: 5px;
  }
  .card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card h3{
  font-weight: 600;
}

.card img{
  position: absolute;
  top: 20px;
  right: 15px;
  max-height: 120px;
}

.card-3{
   background-image: url(/assets/mini.png);
      background-repeat: no-repeat;
    background-position: right;
    background-size: 50px;
}
.line{
    height: 3px;
    background-color: #E08D14;
    width: 30%;
    margin-left: 1%;
}
p{
    margin-top: 2%;
}

@media(max-width: 990px){
  .card{
    margin: 20px;
  }
} 
#exampleModalLabel{
    color: #02273D;
}
  
  .pagination ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 45%;
    margin-top: 5%;
    margin-left: 50%;
}

.pagination a {
    display: inline-block;
    padding: 10px 18px;
    color: #02273D;
    border: 1px solid #02273D;
    border-radius: 100%;
    margin: 1%;


}

/* ONE */

.p1 a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center;
    text-decoration: none;

}

.p1 a.is-active {
    background-color: #02273D;
    border-radius: 100%;
    color: #fff;
    
}
.p2 a{
    border-radius: 1px solid black;
}
.text li{
   list-style: none; 
}
.text span{
    margin-left: 10%;
}


.utilsateur{
  color: white;
  background-color: #E08D14;
  width: 45%;
  text-align: center;
  margin-top: 40%;
  margin-left: 10%;
  font-size: 20px;
  border-radius: 10px;
}
#ajout{
    background-color: #02273D;
    color: white;
}
#annuler{
    color: #02273D;
    border-color: #02273D;
    border-radius: 10px;
    background-color: white;
}
