
    
    <input type="checkbox" id="nav-toggle">
    
    <div class="sidebar">
        <div class="sidebar-brand">
          <h1> <span class="fab fa-asymmetrik"> </span> <span>Aizcar</span>
          </h1>
        </div>
        
        <div class="sidebar-menu">
          <a [routerLink]="['/accueiladmin']"  >
            <div class="image"><img src="/assets/DEM-removebg-preview.png" alt=""></div>
          </a>
          <ul>
            <li>
              <a href="#" class="active" [routerLink]="['/accueiladmin']" routerLinkActive="router-link-active" >
                <span class="fas fa-tachometer-alt"></span>
                <span>Tableau e board</span>
              </a>
            </li>
            <li>
              <a  class="switch" [routerLink]="['/gestionutilisateur']" >
                <span class="fas fa-users" ></span>
                <span >Gestion utilsateur</span>
              </a>
            </li>
            <li>
              <a class="switch" [routerLink]="['/gestionarticle']" >
                <span class="bi bi-truck"></span>
              <span>Gestion Articles</span>
              </a>
            </li>
         
            <div class="logout mt-5">
              <a [routerLink]="['/connexion']" routerLinkActive="router-link-active"  class="logout">
                <i class="fa-solid fa-right-from-bracket" style="color: #E08D14;"></i>Deconnexion
            </a>
            </div>
            <div class="utilsateur">
              <span>Tableau client</span>
            </div>
          </ul>
        </div>
    </div>    

    <div class="main-content">
      <header>
       

        <div class="search-wrapper">
          <span class="fas fa-search"> </span>
          <input type="search" placeholder="Search..." />

        </div>

        <div class="user-wrapper">
         <img src="/assets/photo.PNG" width="40px" height="40px" alt="profile-img">
         <div class="">
            <h5>Admin</h5>
            <!-- <small>Super Admin</small> -->
         </div>
        </div>
      </header>

      <main>
        <!-- gestion article -->
        <div class="text d-flex ">
            <div><h1>Liste des articles</h1></div>
            <div><!-- Button trigger modal -->
                <button type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Ajouter
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Ajout article</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        ...
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-primary" id="ajout">Ajouter</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"  id="annuler">Annuler</button>
                      </div>
                    </div>
                  </div>
                </div></div>
        </div>
        <div class="container">
            <div class="row">
              <div class="col-md-10">
                <div class="card card-3">
                  <h3>Comment choisir son demenageur</h3><div class="line"></div>

                  <p>Learn how to easily customize and modify your app’s design to fit your
                    brand across all mobile platform styles.</p>
                </div>
              </div>
              <div class="col-md-10 mt-5">
                <div class="card card-3">
                  <h3>Comment choisir son demenageur</h3><div class="line"></div>

                  <p>Learn how to easily customize and modify your app’s design to fit your
                    brand across all mobile platform styles.</p>
                </div>
              </div>
            </div>
            <div class="pagination p1">
                <ul>
                    <a >
                        <li><</li>
                    </a>
                    <a class="is-active" >
                        <li>1</li>
                    </a>
                    <a >
                        <li>2</li>
                    </a>
                    <a >
                        <li>3</li>
                    </a>
                    <a >
                        <li>4</li>
                    </a>
                    <a >
                        <li>></li>
                    </a>
                </ul>
            </div>
          </div>
      </main>
    </div>

