<app-header></app-header>
<div class="container">
    <div class="banier"><img src="/assets/pros.PNG" alt=""></div>
</div>
<section>
    <div class="apropo mt-5">
        <div class="test"><h1>Qui est Sen Demenagement</h1><div class="line"><hr></div>

        <p> Sen Demenagement est une plateforme quie permet
         la mise en relation entre demenageur et particuliers. 
         nous mettons l'accent sur la transparence, la qualité
        du service, et la satisfaction client. Avec Nous vous
         avez la tranquillité d'esprit de savoir que votre 
         déménagement est entre de bonnes mains. Simplifiez 
         votre déménagement dès aujourd'hui à travers notre 
         plateforme votre partenaire de confiance pour un déménagement réussi !

        </p>
        <p>En tant que partenaire, vous bénéficiez d'une 
        visibilité accrue grâce à la promotion de votre 
        entreprise sur notre plateforme, renforçant ainsi 
        votre présence sur le marché local.</p>
        </div>
        <div class="cercle">
            <div class="back"></div>
            <img src="/assets/deme.PNG" class="rounded-circle-cercle" alt="...">
        </div>
        
    </div>
    <div class="apropos">
        <div class="cercles">
            <img src="/assets/deme.PNG" class="rounded-circle-cercle" alt="..." id="image">
            <img src="/assets/deme.PNG" class="rounded-circle-cercle" alt="..." id="image2">
            <div class="backs"></div>
            <img src="/assets/deme.PNG" class="rounded-circle-cercle" alt="..." id="image3">
        </div>
        <div class="text"><h1>Pourquoi nous ??</h1>
        <p> 1: Elargissement de la clientéle : En travaillant
         avec nous, vous avez l'opportunité d'étendre votre 
         clientèle au-delà de vos réseaux traditionnels, touchant
         ainsi de nouveaux clients potentiels. En tant que partenaire, vous beneciez d’une visibilité accr
        grâce à la promotion de votre entreprise sur plateforme en renforçant votre presence sur le marché local
            

        </p>
        <p> 2: Choisissez de demenager avec nous pour une expérience sans tracas,
         sécurisée et satisfaisante. Nous nous engageons à rendre votre déménagement
         aussi facile que possible, en mettant à votre disposition des déménageurs 
         professionnels de confiance et des services de haute qualité. Optez pour la 
         simplicité, choisissez [Nom de la Plateforme] pour votre déménagement.
        </p>
        <p>3: comparaison Obtenez des devis personnalisés de déménageurs qualifiés
         en quelques clics, vous permettant de comparer les coûts et de choisir la
          meilleure option pour votre budget.</p>
        </div>
        
    </div>
    <h1 class="text-center">Nos services</h1>
    <div class="container">
    <div class="row">
        <div class="card col-lg-4">
            <div class="card__image">
              
            </div>
            <div class="card__content">
              <!-- <p class="card__title">Card Title</p> -->
              <p class="card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <a class="card__button" href="#">Read More</a>
            </div>
          </div>
          <div class="card col-lg-4">
            <div class="card__image">
              
            </div>
            <div class="card__content">
              <!-- <p class="card__title">Card Title</p> -->
              <p class="card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <a class="card__button" href="#">Read More</a>
            </div>
          </div>
          <div class="card col-lg-4">
            <div class="card__image">
              
            </div>
            <div class="card__content">
              <!-- <p class="card__title">Card Title</p> -->
              <p class="card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <a class="card__button" href="#">Read More</a>
            </div>
          </div>
    </div>
</div>
      
</section>