<!-- connexion.component.html -->

<div class="container">
    <section id="formHolder">
      <div class="row">
  
        <!-- Brand Box -->
        <!-- ... -->
        <div class="col-sm-6 brand">
            <a href="#" class="logo"><img src="/assets/DEM-removebg-preview.png" alt="" id="petilogo">
              </a>

            <div class="heading">
              <img src="/assets/DEM-removebg-preview.png" alt="">
            </div>

            <div class="success-msg">
               <p>Great! You are one of our members now</p>
               <a href="#" class="profile">Your Profile</a>
            </div>
         </div>


         <!-- Form Box -->
        <!-- Form Box -->
        <div class="col-sm-6 form">
  
          <!-- Login Form -->
          <div class="login form-peice" *ngIf="showLoginForm">
            <form class="login-form" action="#" method="post">
                <div class="form-group">
                    <!-- <label for="loginemail">Adresse email</label> -->
                    <input type="email" name="loginemail" id="loginemail" required placeholder="Adresse email*" [(ngModel)]="email">
                 </div>

                 <div class="form-group">
                    <!-- <label for="loginPassword">Mot de passe</label> -->
                    <input type="password" name="loginPassword" id="loginPassword" required placeholder="Mot de passe*" [(ngModel)]="pass">
                 </div>
              <div class="CTA">
                <button (click)="connexion()">Connecter a</button>
                <input type="submit" value="Login">
                <a  class="switch" (click)="showLogin()">Nouveau compte</a>
              </div>
            </form>
          </div><!-- End Login Form -->
  
          <!-- Signup Form -->
          <div class="signup form-peice" *ngIf="!showLoginForm && !isDemenageur">
            <form class="signup-form" action="#" method="post">
                <div class="form-group">
                    <!-- <label for="name">Nom complet<span>*</span></label> -->
                    <input type="text" name="name" id="name" class="name" placeholder="Nom complet* " [(ngModel)]="name" >
                    <span class="error"></span>
                 </div>

                 <div class="form-group">
                    <!-- <label for="email">Adress email<span>*</span></label> -->
                    <input type="email" name="email" id="email" class="email" placeholder=" email*" [(ngModel)]="email">
                    <span class="error"></span>
                 </div>
                 <div class="form-group">
                  <!-- <label for="email">Adress email<span>*</span></label> -->
                  <input type="text" name="localite" id="" class="" placeholder="localite*" [(ngModel)]="localite">
                  <span class="error"></span>
               </div>
                 <div class="form-group">
                    <!-- <label for="phone">Telephone<span>*</span></label> -->
                    <input type="text" name="telephone" id="phone" placeholder="telephone*" [(ngModel)]="telephone">
                 </div>

                 <div class="form-group">
                    <!-- <label for="password">Mot de passes <span>*</span></label> -->
                    <input type="password" name="password" id="password" class="pass" placeholder="Mot de passe*" [(ngModel)]="password">
                    <span class="error"></span>
    
                 </div>

                 <div class="form-group">
                    <!-- <label for="passwordCon">Confirmer votre mot de passe<span>*</span></label> -->
                    <input type="password" name="passwordconfirm" id="passwordCon" class="passConfirm" placeholder=" Confimation mot de passe*" [(ngModel)]="passwordconfirm">
                    <span class="error"></span>
                 </div>
                 <!-- <button class="input-file">image
                  <input type="file" id="file-input"/>
                  <label for="file-input">UPLOAD</label>
                </button> -->
                <label for="" class="mb-4">role: </label>
                <select class="form-select" aria-label="Default select example"  name="role" [(ngModel)]="role">
                  <option selected >Selectionner un rôle</option>
                  <option value="Demenageur" >Demenageur</option>
                  <option value="Client"  >Client</option>
                </select>
                 <!-- <div  class="form-group" style="margin-top: -10%;" >
                    <label for="f-option" class="l-radio">
                      <input type="radio" id="f-option" name="selector" tabindex="1"  [(ngModel)]="role">&nbsp;
                      <span>Particulier</span>
                    </label>
                    <label for="s-option" class="l-radio" style="margin-left: 30%;">
                      <input type="radio" id="s-option" name="selector" tabindex="2" [(ngModel)]="role">&nbsp;
                      <span>Demenageur</span>
                    </label>
                  </div> -->
              <div class="CTA" style="margin-top: 20%;">
                <button (click)=" singin(); showLogin">Enregistrer</button>
                <input type="submit" value="Signup Now" id="submit">
                <a  class="switch" (click)="showLogin()">J'ai déja un compte</a>
              </div>
            </form>
            <p>{{password}}</p>
          </div><!-- End Signup Form -->
        
        </div>
      </div>
    </section>
  
   
  </div>
  