<app-header></app-header>
<div class="banier"></div>
<div class="container">
    <h1>Politique de confidentialité</h1>
    <div class="text">
        <div class="image"><img src="/assets/pp.PNG" alt=""></div>
        <div class="paragraf"><p>Nous sommes engagés à protéger la vie privée de nos utilisateurs. 
            Cette politique de confidentialité explique comment nous collectons, 
            utilisons et protégeons les informations personnelles que vous nous 
            fournissez lorsque vous utilisez notre plateforme.
            Nous sommes engagés à protéger la vie privée de nos utilisateurs. 
            Cette politique de confidentialité explique comment nous collectons, 
            utilisons et protégeons les informations personnelles que vous nous 
            fournissez lorsque vous utilisez notre plateforme.
        </p>
            <h3>1. Collecte d'Informations</h3>
            <p>Nous  collectons les informations suivantes lorsque vous utilisez notre plateforme .
                Nous  collectons les informations suivantes lorsque vous utilisez notre plateforme .
                Nous  collectons les informations suivantes lorsque vous utilisez notre plateforme .
                Nous  collectons les informations suivantes lorsque vous utilisez notre plateforme .
            </p>
        </div>
        </div>
    
        <p>Informations Personnelles :
            Lors de la creation de votre compte vous pouvez être amener à fournir des 
            Informations que votre addresse email, votre numero de telephone et d’autres informations pertinentes pour faciliter la 
            mise en relation entre les déménageurs et les particuliers, nous collectons des informations sur votre déménagement, telles que la date prévue, la destination, le volume estimé et d'autres détails pertinents. Nous annalysons les données collectées pour ameliorer continuellemet nos services et personnaliser votre experience sur la plateforme. Nous ne vend
            vendons ni ne louons vos informations personnelles à des tiers. Cependant, nous pouvons partager vos informations dans les situations suivantes :</p>
            <p>Nous mettons en place des mesures de sécurité pour protéger vos informations personnelles contre tout accès non autorisé, divulgation, altération ou destruction. Nous reservons le droit de mettre à jour cette politique de confidentialité à tout moment . Nous vous recommandons de consulter régulierement cette page por rester inforler des modifications
                Pour toute question concernant notre politique de confidentialité, veuillez nous contacter à [adresse e-mail] ou à l'adresse postale suivante :
                
                Nous mettons en place des mesures de sécurité pour protéger vos informations personnelles contre tout accès non autorisé, divulgation, altération ou destruction. Nous reservons le droit de mettre à jour cette politique de confidentialité à tout moment . Nous vous recommandons de consulter régulierement cette page por rester inforler des modifications
                Nous mettons en place des mesures de sécurité pour protéger vos informations personnelles contre tout accès non autorisé, divulgation, altération ou destruction. Nous reservons le droit de mettre à jour cette politique de confidentialité à tout moment . Nous vous recommandons de consulter régulierement cette page por rester inforler des modifications</p>
                <p>Nous mettons en place des mesures de sécurité pour protéger vos informations personnelles contre tout accès non autorisé, divulgation, altération ou destruction. Nous reservons le droit de mettre à jour cette politique de confidentialité à tout moment . Nous vous recommandons de consulter régulierement cette page por rester inforler des modifications
                    Nous mettons en place des mesures de sécurité pour protéger vos informations personnelles contre tout accès non autorisé, divulgation, altération ou destruction. Nous reservons le droit de mettre à jour cette politique de confidentialité à tout moment . Nous vous recommandons de consulter régulierement cette page por rester inforler des modifications
                    Nous mettons en place des mesures de sécurité pour protéger vos informations personnelles contre tout accès non autorisé, divulgation, altération ou destruction. Nous reservons le droit de mettre à jour cette politique de confidentialité à tout moment . Nous vous recommandons de consulter régulierement cette page por rester inforler des modifications</p>
                    <p>Nous mettons en place des mesures de sécurité pour protéger vos informations personnelles contre tout accès non autorisé, divulgation, altération ou destruction. Nous reservons le droit de mettre à jour cette politique de confidentialité à tout moment . Nous vous recommandons de consulter régulierement cette page por rester inforler des modifications
                        Nous mettons en place des mesures de sécurité pour protéger vos informations personnelles contre tout accès non autorisé, divulgation, altération ou destruction. Nous reservons le droit de mettre à jour cette politique de confidentialité à tout moment . Nous vous recommandons de consulter régulierement cette page por rester inforler des modifications</p>
                </div>   
<app-footer></app-footer>