<app-header></app-header>
<div class="tittre" ><h1>Création de compte</h1></div>
<div class="container">
    <section id="formHolder">
 
       <div class="row">
 
          <!-- Brand Box -->
          <div class="col-sm-6 brand">
             <a href="#" class="logo"><img src="/assets/DEM-removebg-preview.png" alt="" id="petilogo">
               </a>
 
             <div class="heading">
               <img src="/assets/DEM-removebg-preview.png" alt="">
             </div>
 
             <div class="success-msg">
                <p>Great! You are one of our members now</p>
                <a href="#" class="profile">Your Profile</a>
             </div>
          </div>
 
 
          <!-- Form Box -->
          <div class="col-sm-6 form">
 
            
 
 
             <!-- Signup Form -->
             <div class="signup form-peice">
                <form class="signup-form" action="#" method="post">
 
                   <div class="form-group">
                      <label for="name">Nom complet<span>*</span></label>
                      <input type="text" name="username" id="name" class="name">
                      <span class="error"></span>
                   </div>
 
                   <div class="form-group">
                      <label for="email">Adress email<span>*</span></label>
                      <input type="email" name="emailAdress" id="email" class="email">
                      <span class="error"></span>
                   </div>
 
                   <div class="form-group">
                      <label for="phone">Telephone<span>*</span></label>
                      <input type="text" name="phone" id="phone">
                   </div>
 
                   <div class="form-group">
                      <label for="password">Mot de passes <span>*</span></label>
                      <input type="password" name="password" id="password" class="pass">
                      <span class="error"></span>
                   </div>
 
                   <div class="form-group">
                      <label for="passwordCon">Confirmer votre mot de passe<span>*</span></label>
                      <input type="password" name="passwordCon" id="passwordCon" class="passConfirm">
                      <span class="error"></span>
                   </div>
 
                   <div class="CTA">
                      <input type="submit" value="Signup Now" id="submit">
                      <a href="#" class="switchToInscription">I have an account</a>
                   </div>
                </form>
             </div><!-- End Signup Form -->
          </div>
       </div>
 
    </section>
 
 
   
 
 </div>