
    
    <input type="checkbox" id="nav-toggle">
    <div class="sidebar">
        <div class="sidebar-brand">
          <h1> <span class="fab fa-asymmetrik"> </span> <span>Aizcar</span>
          </h1>
        </div>
        
        <div class="sidebar-menu">
          <a [routerLink]="['/accueilclient']"  >
            <div class="image"><img src="/assets/DEM-removebg-preview.png" alt=""></div>
          </a>          <ul>
            <li>
              <a  class="active" [routerLink]="['/accueilclient']" routerLinkActive="router-link-active" >
                <span class="fas fa-tachometer-alt"></span>
                <span>Tableau e board</span>
              </a>
            </li>
            <li>
              <a  class="switch" [routerLink]="['/gestioncompte']">
                <span class="fas fa-users" ></span>
                <span >Gestion Compte</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/gestiondemande']">
                <span class="bi bi-truck"></span>
              <span>Gestion Demande</span>
              </a>
            </li>
         
            <li>
              <a [routerLink]="['/listedevis']" routerLinkActive="router-link-active" >
                <span class="fas fa-tasks"></span>
                <span>Liste devis</span>
              </a>
            </li>
            <div class="logout mt-5">
              <a [routerLink]="['/connexion']" routerLinkActive="router-link-active"  class="logout">
                <i class="fa-solid fa-right-from-bracket" style="color: #E08D14;"></i>Deconnexion
            </a>
            </div>
            <div class="utilsateur">
              <span>Tableau client</span>
            </div>
          </ul>
        </div>
    </div>    

    <div class="main-content">
      <header>
       

        <div class="search-wrapper">
          <span class="fas fa-search"> </span>
          <input type="search" placeholder="Search..." />

        </div>

        <div class="user-wrapper">
         <img src="/assets/photo.PNG" width="40px" height="40px" alt="profile-img">
         <div class="">
            <h5>{{userconnect.Nom}}</h5>
            <small>{{userconnect.role}}</small>
         </div>
        </div>
      </header>

      <main>
       
        <!-- gestion demande -->

       <div class="titre">
  <h1>Liste des demande de devis</h1>
</div>
<div class="row mt-5" >
  <div class="cookie-card col-lg-6 mb-3" *ngFor="let demandedevis of listeDemandedevis">
    <span class="title">{{demandedevis.nom_entreprise}}</span>
    <div class="line"><hr></div>
    <p>{{demandedevis.nouvelle_adresse}}</p>
    <p class="description">{{demandedevis.informations_bagages}}</p>
    <div class="actions">
      <button class="pref">{{demandedevis.date_demenagement}}</button>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" id="demande" (click)=" getAlldetailsdemandeclient(demandedevis.id)">
      voir demande</button>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="width: 30%;" (click)="ChangerDemande(demandedevis)">
        Modifier
      </button>

<!-------------------- Modal pour details d'une demande devis---------------->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <img src="/assets/logo.png" alt="" id="logo">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Demande devis</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
        <label for="" class="  col-md-4">adresse_actuelle</label>
        <span>{{annocesfound?.adresse_actuelle}}</span>
        <label for="" class=" col-md-4">nouvelle_adresse</label>
      <span>{{annocesfound?.nouvelle_adresse}}</span>
      </div>
      <div class="row">
        <label for="" class="  col-md-4">date_demennagement</label>
      <span>{{annocesfound?.date_demennagement}}</span>
        <label for="" class="col-md-4">information bagages</label>
      <span>{{annocesfound?.informations_bagages}}</span>

        <img *ngFor="let item of annocesfound?.images" src="http://localhost:8000/public/images/{{item.url }}" class="card-img-top img-fluid"alt="..."style="max-height: 300px; object-fit: contain"/>
      
      </div>
    </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-primary">ModifierFGGGGGG</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
      </div> -->
    </div>
  </div>
</div> 



<!-------------------Modal pour Modification de devis------------------------------ -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modification demande de devis</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="form-group col-md-5">
        <label for="">adresse_actuelle</label>
        <input type="text" name="adresse_actuelle"  [(ngModel)]="adresse_actuelle">
      </div>
      <div class="form-group col-md-5">
        <label for="" >nouvelle_adresse</label>
        <input type="text" name="nouvelle_adresse" [(ngModel)]="nouvelle_adresse"><br>
        <p>{{nouvelle_adresse}}</p>
      </div>
    </div>
        <div class="row">
          <div class="form-group col-md-5">
              <label for="">Date_demenagement</label>
              <input type="date" name="date_demenagement" [(ngModel)]="date_demenagement">
              <input type="text" [value]="date_demenagement | date:'dd/MM/yyyy'">
            </div>
            <div class="form-group col-md-5">
              <label for="floatingTextarea">Informations_bagage</label>
              <textarea class="form-control" name="informations_bagage" placeholder="Leave a comment here" id="floatingTextarea" [(ngModel)]="informations_bagages"></textarea>
              <input style="margin-left:-8%;margin-top: 7%;" type="file" (change)="getFile($event)" accept="image/*">
            </div>
            </div>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="putDemandeDevis(demandedevis.id)" >Sauvegarder</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>
<button type="button" class="btn btn-primary"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" (click)="putDemande(demandedevis.id)">
 Suprimer
</button>
  </div>
  </div>
</div>

            <div class="pagination p1">
                <ul>
                    <a href="#">
                        <li><</li>
                    </a>
                    <a class="is-active" href="#">
                        <li>1</li>
                    </a>
                    <a href="#">
                        <li>2</li>
                    </a>
                    <a href="#">
                        <li>3</li>
                    </a>
                    <a href="#">
                        <li>4</li>
                    </a>
                   
                    <a href="#">
                        <li>></li>
                    </a>
                </ul>
            </div>
          
            
      </main>
    </div>

