:root{
    --main-color: #11101d;
    --color-dark: #1D2231;
    --text-grey:  #fff;
  }
.sidebar{
    width: 245px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    /* z-index: 100;  */
    background: var(--main-color);
    transition: width 300ms;
    background: #02273D;
    border-radius: 10px;
  
  }
  .sidebar img{
    width: 50%;
    margin-top: -50%;
    margin-left: 20%;
  }
  .sidebar-brand{
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    color: #02273D;
  }
  .sidebar-brand span{
    display: inline-block;
    padding-right: 1rem;
  }
  .sidebar-menu li{
    width: 100%;
    margin-bottom: 1.7rem;
    padding-left: 1rem;
    list-style: none;
  
  }
  .sidebar-menu{
    margin-top: 1rem;
  }
  
  .sidebar-menu a{
    /* padding-left: 2rem; */
    display: block;
    color: #fff;
    font-size: 1.1rem;
    margin-right: 20%;
    width: 100%;

  }
  #nav-toggle:checked + .sidebar {
    width: 70px ;
  
  }
  #nav-toggle:checked + .sidebar .sidebar-brand,
  #nav-toggle:checked + .sidebar li 
  {
    padding-left: 1rem;
    text-align: center;
  }
  #nav-toggle:checked + .sidebar li a
  {
    padding-left: 0rem;
  }
  #nav-toggle:checked + .sidebar .sidebar-brand h1 span:last-child,
  #nav-toggle:checked + .sidebar li a span:last-child{
    display: none;
  
  }
  .sidebar-menu a span:first-child{
    font-size: 1.5rem;
    padding-right: 1rem;
  }
  .sidebar-menu a.active{
    background: #E08D14;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
    border-radius: 30px 0px 0px 30px;
  
  }
  .sidebar-menu a{
    text-decoration: none;
  }
  #nav-toggle:checked ~ .main-content {
    margin-left: 70px;
  
  }
  #nav-toggle:checked ~ .main-content  header{
    width: calc(100% - 70px);
    left:70px;
  
  }
  .main-content{
    transition: margin-left 300ms;
    margin-left: 240px;
    border: 1px solid black !important;
  }
  header{
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    position: fixed;
    left: 245px;
    top:0;
    z-index: 10; 
    width: 82%;
    transition: left 300ms;
    }
  
  #nav-toggle{
    display: none;
  }
  header h2{
    color: #222;
  }
  header label span{
    font-size: 1.7rem;
    padding-right: 1rem;
  }
  .search-wrapper {
    border: solid 1px #ccc;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    width:45%;
  }
  .search-wrapper span{
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
  }
  .search-wrapper input{
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
  
  }
  .user-wrapper{
    display: flex;
    align-items: center;
  }
  .user-wrapper img{
    border-radius: 50%;
    margin-right: .5rem;
  }
  
  .user-wrapper small{
    display: inline-block;
    color: var(--text-grey);
    margin-top: -1px !important;
  
  }
  
  main{
    margin-top: 85px;
    padding: 2rem 1.5rem;
    background: #fff;
    min-height: calc(100vh - 90px);
  }
  .container{
    border:  1px solid #000;
    height: 150px;
    background-image: url(/assets/emballage.avif);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .conten{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
  }
 
  .row {
    margin-top: 8%;
    gap: 5%;
    margin-left: 3%;
  }
  #button{
    background-color: #02273D;
  }
  .pagination ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 45%;
    margin-top: 5%;
    margin-left: 50%;
}

.pagination a {
    display: inline-block;
    padding: 10px 18px;
    color: #02273D;
    border: 1px solid #02273D;
    border-radius: 100%;
    margin: 1%;


}

/* ONE */



.text li{
   list-style: none; 
   font-size: 20px;
}
.text span{
    margin-left: 10%;
}
.text{
}
#modif{
    color: white;
    margin-bottom: 5%;
    margin-left: 50%;
    width: 20%; 
    background-color: #02273D;
    border: none;
    border-radius: 5px;
}

.utilsateur{
  color: white;
  background-color: #E08D14;
  width: 45%;
  text-align: center;
  margin-top: 40%;
  margin-left: 10%;
  font-size: 20px;
  border-radius: 10px;
}
#exampleModalLabel{
  color: #02273D;
}
#enregistrer{
  background-color: #02273D;
  color: white;
}
#annuler{
  background-color: white;
  color:#02273D;
  border: 1px solid #02273D;
  border-radius: 10px;
}
img{
  width: 70%;
}