
    
    <input type="checkbox" id="nav-toggle">
    
    <div class="sidebar">
        <div class="sidebar-brand">
          <h1> <span class="fab fa-asymmetrik"> </span> <span>Aizcar</span>
          </h1>
        </div>
        
        <div class="sidebar-menu">
          <a [routerLink]="['/accueilclient']"  >
            <div class="image"><img src="/assets/camio-removebg-preview.png" alt=""></div>
          </a>
          <ul>
            <li>
              <a [routerLink]="['/accueilclient']" >
                <span class="fa-solid fa-bars"></span>
                <span>Tableau e board</span>
              </a>
            </li>
            <li>
              <a    [routerLink]="['/gestioncompte']"  class="active" >
                <span class="fa-solid fa-user" ></span>
                <span >Gestion Compte</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/gestiondemande']"  >
                <span class="bi bi-clipboard-minus"></span>
              <span>Gestion Demande</span>
              </a>
            </li>
         
            <li>
              <a [routerLink]="['/listedevis']"  >
                <span class="fas fa-tasks"></span>
                <span>Liste des devis</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/prestation']" routerLinkActive="router-link-active" >
                <span class="fa-solid fa-person-digging"></span>
                <span>Prestation</span>
              </a>
            </li>
            <div class="logout  ms-3" style="margin-top: 50%;">
              <a [routerLink]="['/connexion']"   class="logout">
                <i class="fa-solid fa-right-from-bracket" style="color: #02273D;"></i>&nbsp;Deconnexion
            </a>
            </div>
            <!-- <div class="utilsateur">
              <span>Tableau client</span>
            </div> -->
          </ul>
        </div>
    </div>    

    <div class="main-content">
      <header>
       

        <div class="search-wrapper-hidden ">
          <span class="fas fa-search-hidden"> </span>
          <!-- <input type="search" class="hidden" /> -->

        </div>

        <div class="user-wrapper">
         <!-- <img src="/assets/photo.PNG" width="40px" height="40px" alt="profile-img"> -->
         <div class="">
            <h5>{{userconnect.Nom}}</h5>
            <small>{{userconnect.role}}</small>
         </div>
        </div>
      </header>

      <main>
        <!-- gestion compte -->
        <div class="compte" >
        <div class="card mb-3" style="max-width: 935px;">
            <div class="row g-0" id="row">
              <div class="col-md-4 mt-0 w-100%">
                <i class="bi bi-person-circle" style="font-size: 200px; color: #02273D;"></i>
              </div>
              <div class="col-md-6">
                <div class="card-body">
                    <div class="text mt-3">
                        <ul>
                            <li>Nom complet : <span>{{userconnect.Nom}}</span></li>
                            <li>Adresse email : <span>{{userconnect.Email}}</span></li>
                            <li>Telephone : &nbsp; &nbsp;<span>{{userconnect.Telephone}}</span></li>
                            <li>Localité : &nbsp; &nbsp; &nbsp; &nbsp;<span>{{userconnect.Localite}}</span></li>
                        </ul>
                    </div>
                 
                </div>
              </div>
            </div>


  <!-- Button trigger modal -->
  <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal" id="modif" (click)="chargerinfo(user)">
    Editer profil
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <img src="/assets/camio.PNG" alt="" style="width: 20%; margin-top: -3%; margin-left: -3%;" >
          <h1 class="modal-title fs-5" id="exampleModalLabel" >Editer profil</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row gap-5">
          <div class="form-group col-md-5">
            <label for="">Nomcomplet</label>
          <input type="text" name="name" [(ngModel)]="name" id="input">
        </div>
          <div class="form-group col-md-5">
          <label for="">Adresse email</label>
          <input type="email" name="email" [(ngModel)]="email" id="input">
        </div>
      </div>
      <div class="row gap-5 mt-3">
        <div class="form-group col-md-5">
          <label for="">Telephone</label><br>
          <input type="text" name="telephone" [(ngModel)]="telephone" id="input">
        </div>
        <div class="form-group col-md-5">
          <label for="">Localité</label><br>
          <input type="text" name="localite" [(ngModel)]="localite" id="input">
        </div>
      </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="enregistrer" (click)="putProfil(userconnect.id)">Enregistre</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="annuler">Annuler</button>
        </div>
      </div>
    </div>
  </div>         
 </div>
        </div>
      </main>
    </div>

