/* :root{
    --main-color: #11101d;
    --color-dark: #1D2231;
    --text-grey:  #8390A2;
  } */
  .sidebar{
    width: 245px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    /* z-index: 100;  */
    background: var(--main-color);
    transition: width 300ms;
    background: #02273D;
    border-radius: 10px;
  
  }
  .sidebar img{
    width: 50%;
    margin-top: -35%;
    margin-left: 20%;
  }
  .sidebar-brand{
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    color: #02273D;
  }
  .sidebar-brand span{
    display: inline-block;
    padding-right: 1rem;
  }
  .sidebar-menu li{
    width: 100%;
    margin-bottom: 1.7rem;
    padding-left: 1rem;
  
  }
  .sidebar-menu{
    margin-top: 1rem;
  }
  .sidebar-menu a{
    /* padding-left: 2rem; */
    display: block;
    color: #fff;
    font-size: 1.1rem;
    margin-right: 20%;
    width: 100%;

  }
  #nav-toggle:checked + .sidebar {
    width: 70px ;
  
  }
  #nav-toggle:checked + .sidebar .sidebar-brand,
  #nav-toggle:checked + .sidebar li 
  {
    padding-left: 1rem;
    text-align: center;
  }
  #nav-toggle:checked + .sidebar li a
  {
    padding-left: 0rem;
  }
  #nav-toggle:checked + .sidebar .sidebar-brand h1 span:last-child,
  #nav-toggle:checked + .sidebar li a span:last-child{
    display: none;
  
  }
  .sidebar-menu a span:first-child{
    font-size: 1.5rem;
    padding-right: 1rem;
  }
  .sidebar-menu a.active{
    background: #E08D14;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
    border-radius: 30px 0px 0px 30px;
    padding-left: 12px;

  }
  #nav-toggle:checked ~ .main-content {
    margin-left: 70px;
  
  }
  #nav-toggle:checked ~ .main-content  header{
    width: calc(100% - 70px);
    left:70px;
  
  }
  .main-content{
    transition: margin-left 300ms;
    margin-left: 240px;
    background-color: white;
  }
  header{
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); */
    position: fixed;
    left: 245px;
    top:0;
    z-index: 10; 
    width: 82%;
    transition: left 300ms;
    }
  #nav-toggle{
    display: none;
  }
  header h2{
    color: #222;
  }
  header label span{
    font-size: 1.7rem;
    padding-right: 1rem;
  }
  .search-wrapper {
    border: solid 1px #ccc;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    width:45%;
  }
  .search-wrapper span{
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
  }
  .search-wrapper input{
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
  
  }
  .user-wrapper{
    display: flex;
    align-items: center;
  }
  .user-wrapper img{
    border-radius: 50%;
    margin-right: .5rem;
  }
  
  .user-wrapper small{
    display: inline-block;
    color: var(--text-grey);
    margin-top: -1px !important;
  
  }
  #truc{
    color: #E08D14;
    
  }
  .logout{
    background-color: #FFF;
    width: 70%;
    padding: 5px;
    border-radius: 10px;
  }
   .logout a{
    color: #02273D;
  }
  main{
    margin-top: 85px;
    padding: 2rem 1.5rem;
    background: #fff;
    min-height: calc(100vh - 90px);
  }
  li{
    list-style: none;
  }
  
   a{
    text-decoration: none;
  }
  .cards{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 2rem;
    margin-top: 1rem;
    
    
    
  }
  #card-single{
    background: #02273D;
    border-left: 10px solid #E08D14;
    
  }
  .card-single{
    display: flex;
    justify-content: space-between;
    background: #fff;
    border: 1px solid #d9d3d3;
    padding: 2rem;
    border-radius: 12px;
     box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
     border-left: 10px solid #02273D;

  }
  .card-single div:last-child span{
    color: var(--main-color);
    font-size: 3rem;
  
  }
  .card-single div:first-child span{
    color: var(--text-grey);
    
  
  }
  .card-single:last-child{
    background: var(--main-color);
  }
  .card-single:last-child h1,
  .card-single:last-child div:first-child span,
  .card-single:last-child div:last-child span
  {
    color: #fff;
  }
  
  .recent-grid{
    margin-top: 3.5rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 65% auto;
   
  }
  .card{
    background: #fff;
    border-radius: 12px;
     box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
    padding: 1rem;
  }
  .card-header
  {
    padding: 1rem;
  }
  .card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
    /* background: #02273D; */
    color: white;
  }
  .card-header button{
    background: var(--main-color);
    border-radius: 10px;
    color: #fff;
    font-size: .8rem;
    padding: .5rem 1rem;
    border:1px solid var(--main-color);
  }
 
 
  .contact span{
    font-size: 1.2rem;
    display: inline-block;
    margin-left: .5rem;
    color:  var(--main-color);
  
  }
  
  .plan {
    border-radius: 16px;
    box-shadow: 0 30px 30px -25px rgba(151, 152, 155, 0.205);
    padding: 10px;
    background-color: #fff;
    color: #02273D;
    max-width: 300px;
    border: 2px solid #02273D;
  }
  
  .plan strong {
    font-weight: 600;
    color: #425275;
  }
  
  .plan .inner {
    align-items: center;
    padding: 20px;
    padding-top: 40px;
    background-color: #02273d09;
    border-radius: 12px;
    position: relative;
  }
  
  .plan .pricing {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #02273D;
    border-radius: 99em 0 0 99em;
    display: flex;
    align-items: center;
    padding: 0.625em 0.75em;
    font-size: 1.25rem;
    font-weight: 600;
    color: #fff;
  }
  
  .plan .pricing small {
    color: #707a91;
    font-size: 0.75em;
    margin-left: 0.25em;
  }
  
  .plan .title {
    font-weight: 600;
    font-size: 1.25rem;
    color: #425675;
  }
  
  .plan .title + * {
    margin-top: 0.75rem;
  }
  
  .plan .info + * {
    margin-top: 1rem;
  }
  
  .plan .features {
    display: flex;
    flex-direction: column;
  }
  
  .plan .features li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .plan .features li + * {
    margin-top: 0.75rem;
  }
  
  .plan .features .icon {
    background-color: #02273D;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
  
  .plan .features .icon svg {
    width: 14px;
    height: 14px;
  }
  
  .plan .features + * {
    margin-top: 1.25rem;
  }
  
  .plan .action {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  
  .plan .button {
    background-color: #fff;
    border-radius: 6px;
    color: #02273D;
    font-weight: 500;
    font-size: 1.125rem;
    text-align: center;
    border: 0;
    outline: 0;
    width: 100%;
    padding: 2px;
    text-decoration: none;
    border: 2px solid #02273D;
  }
  
  .plan .button:hover, .plan .button:focus {
    background-color: #02273D;
    color: #fff;
  }

  .pagination ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 45%;
    margin-top: 5%;
    margin-left: 69%;
}

.pagination a {
    display: inline-block;
    padding: 10px 18px;
    color: #02273D;
    border: 1px solid #02273D;
    border-radius: 100%;
    margin: 1%;


}

.p1 a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center;
    text-decoration: none;

}

.p1 a.is-active {
    background-color: #02273D;
    border-radius: 100%;
    color: #fff;
    
}
.p2 a{
    border-radius: 1px solid black;
}
  @media only screen and (max-width: 1200px){
  
    .sidebar{
      width: 70px ;
    }
    .sidebar .sidebar-brand,
    .sidebar li 
    {
      padding-left: 1rem;
      text-align: center;
    }
    #nav-toggle:checked + .sidebar li a
    {
      padding-left: 0rem;
    }
    .sidebar .sidebar-brand h1 span:last-child,
    .sidebar li a span:last-child{
      display: none;
  
    }
    
    .main-content {
    margin-left: 70px;
  
    }
    .main-content  header{
      width: calc(100% - 70px);
      left:70px;
  
    }
  }
  
  @media only screen and (max-width: 960px){
    .cards{
      grid-template-columns: repeat(3, 1fr);
    }
    .recent-grid{
      grid-template-columns: 60% 40%;
    }
  }
  
  @media only screen and (max-width: 768px){
    .cards{
      grid-template-columns: repeat(2, 1fr);
    }
    .recent-grid{
      grid-template-columns: 100%;
    }
    .search-wrapper{
      display: none;
    }
    .sidebar {
      
      left: -100% !important;
    }
    header h2{
      display: flex;
      align-items: center;
    }
    header h2 label{
      display: inline-block;
      text-align: center;
      background: var(--main-color);
      padding-right: 0rem;
      margin-right: 1rem;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center !important;
    }
    header h2 span{
      text-align: center;
      padding-right: 0rem;
    }
    header h2{
      font-size: 1.1rem;
    }
    .main-content{
      width: 100%;
      margin-left: 0rem;
    }
    header{
      width: 100% !important;
      left: 0 !important;
    }
    #nav-toggle:checked + .sidebar{
      left: 0 !important;
      z-index: 100;
      width: 345px;
    }
    
    #nav-toggle:checked .sidebar .sidebar-brand,
    #nav-toggle:checked + .sidebar li 
    {
      padding-left: 2rem;
      text-align: left;
    }
  
    #nav-toggle:checked + .sidebar li a
    {
      padding-left: 1rem;
    }
    #nav-toggle:checked  + .sidebar .sidebar-brand h1 span:last-child,
    #nav-toggle:checked + .sidebar li a span:last-child{
      display: inline;
  
    }
    #nav-toggle:checked ~ .main-content{
      margin-left: 0rem !important;
    }
  }
  @media only screen and (max-width: 560px){
    .cards{
      grid-template-columns: 100%;
    }
  }
  
  .card-group{
    width: 65%;
    margin-top: 3%;
    gap: 3%;
  }
 
#nombre{
    border: 1px solid black;
    padding: 10px;
}

 