<footer class="footer-10">
    <div class="container">
        <div class="row mb-5 pb-3 no-gutters" >
            <div class="col-md-4 mb-md-0 mb-4 d-flex" id="row">
                <div class="con con-1 w-100 py-3">
                    <div class="con-info w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="ion-ios-call"></span>
                        </div>
                        <div class="text">
                            <i class="fa-solid fa-square-phone-flip" style="color: #FFD43B;" id="icon"></i><br>
                            <span>(+00) 1234 5678</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-md-0 mb-4 d-flex" id="row">
                <div class="con con-2 w-100 py-3">
                    <div class="con-info w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="ion-ios-mail"></span>
                        </div>
                        <div class="text">
                            <i class="fa-solid fa-square-envelope" style="color: #FFD43B;" id="icon"></i><br>
                            <span>info@email.com</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-md-0 mb-4 d-flex" id="row">
                <div class="con con-3 w-100 py-3">
                    <div class="con-info w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="ion-ios-pin"></span>
                        </div>
                        <div class="text">
                            <i class="fa-solid fa-location-dot" style="color: #FFD43B;" id="icon"></i><br>
                            <span>203 Fake St. Mountain View, San Francisco, California, USA</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-6 mb-md-0 mb-4">
                        <h2 class="footer-heading">Pages</h2>
                        <ul class="list-unstyled">
              <li><a href="#" class="d-block">Accueil</a></li>
              <li><a href="#" class="d-block">Service</a></li>
              <li><a href="#" class="d-block">Contact</a></li>
              <li><a href="#" class="d-block">Apropos</a></li>
            </ul>
                    </div>
                    <!-- <div class="col-md-4 mb-md-0 mb-4">
                        <h2 class="footer-heading">Company</h2>
                        <ul class="list-unstyled">
              <li><a href="#" class="d-block">Our services</a></li>
              <li><a href="#" class="d-block">Clients</a></li>
              <li><a href="#" class="d-block">Contact</a></li>
              <li><a href="#" class="d-block">Press</a></li>
            </ul>
                    </div> -->
                    <div class="col-md-4 mb-md-0 mb-4">
                        <h2 class="footer-heading">Resources</h2>
                        <ul class="list-unstyled">
              <li><a href="#" class="d-block">Articles</a></li>
              <li><a  [routerLink]="['/politiqueconfidentialite']" class="d-block">Politique de confidentialité</a></li>
              <li><a href="#" class="d-block">Privacy Policy</a></li>
            </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-5 mb-md-0 mb-4">
                <h2 class="footer-heading">Subscribe</h2>
                <form action="#" class="subscribe-form">
      <div class="form-group d-flex">
        <input type="text" class="form-control rounded-left" placeholder="Enter email address">
        <button type="submit" class="form-control submit rounded-right" >Subscribe</button>
      </div>
      <span class="subheading">Get digital marketing updates in your mailbox</span>
    </form>
            </div>
        </div>
        <div class="row mt-5 pt-4 border-top">
  <div class="col-md-6 col-lg-8 mb-md-0 mb-4">
    <p class="copyright mb-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved. | This template is made with <i class="fa-solid fa-heart" style="color: #FFF;"></i> by <a href="https://sendemenagement.com" target="_blank" style="color: #E08D14;">Colorlib.com</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
  </div>
  <div class="col-md-6 col-lg-4 text-md-right">
      <ul class="ftco-footer-social p-0">
      <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="bi bi-geo-alt-fill" style="color: white;"></i></a></li>
      <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="bi bi-geo-alt-fill" style="color: white;"></i></a></li>
      <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="bi bi-geo-alt-fill" style="color: white;"></i></a></li>
    </ul>
  </div>
</div>
    </div>
</footer>