:root{
    --main-color: #11101d;
    --color-dark: #1D2231;
    --text-grey:  #fff;
  }
.sidebar{
    width: 245px;
    position: fixed;
    left: 0;
    top: 0;
    height: 800px;
    z-index: 100; 
    background: var(--main-color);
    transition: width 300ms;
    background: #02273D;
    /* border-radius: 10px; */
  
  }
  .sidebar img{
    width: 50%;
    margin-top: -50%;
    margin-left: 20%;
  }
  .sidebar-brand{
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    color: #02273D;
  }
  .sidebar-brand span{
    display: inline-block;
    padding-right: 1rem;
  }
  .sidebar-menu li{
    width: 100%;
    margin-bottom: 1.7rem;
    padding-left: 1rem;
    list-style: none;
  
  }
  .sidebar-menu{
    margin-top: 1rem;
  }
  
  .sidebar-menu a{
    /* padding-left: 2rem; */
    display: block;
    color: #fff;
    font-size: 1.1rem;
    margin-right: 20%;
    width: 100%;

  }
  #nav-toggle:checked + .sidebar {
    width: 70px ;
  
  }
  #nav-toggle:checked + .sidebar .sidebar-brand,
  #nav-toggle:checked + .sidebar li 
  {
    padding-left: 1rem;
    text-align: center;
  }
  #nav-toggle:checked + .sidebar li a
  {
    padding-left: 0rem;
  }
  #nav-toggle:checked + .sidebar .sidebar-brand h1 span:last-child,
  #nav-toggle:checked + .sidebar li a span:last-child{
    display: none;
  
  }
  .sidebar-menu a span:first-child{
    font-size: 1.5rem;
    padding-right: 1rem;
  }
  .sidebar-menu a.active{
    background: #E08D14;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
    border-radius: 30px 0px 0px 30px;
    padding-left: 12px;

  
  }
 
  .sidebar-menu a{
    text-decoration: none;
  }
  #nav-toggle:checked ~ .main-content {
    margin-left: 70px;
  
  }
  #nav-toggle:checked ~ .main-content  header{
    width: calc(100% - 70px);
    left:70px;
  
  }
  .main-content{
    transition: margin-left 300ms;
    margin-left: 240px;
    border: 1px solid black !important;
  }
  header{
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); */
    position: fixed;
    left: 245px;
    top:0;
    z-index: 10; 
    width: 82%;
    transition: left 300ms;
    }
  
  #nav-toggle{
    display: none;
  }
  header h2{
    color: #222;
  }
  header label span{
    font-size: 1.7rem;
    padding-right: 1rem;
  }
  .search-wrapper {
    border: solid 1px #ccc;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    width:45%;
  }
  .search-wrapper span{
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
  }
  .search-wrapper input{
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
  
  }
  .user-wrapper{
    display: flex;
    align-items: center;
  }
  .user-wrapper img{
    border-radius: 50%;
    margin-right: .5rem;
  }
  
  .user-wrapper small{
    display: inline-block;
    color: var(--text-grey);
    margin-top: -1px !important;
  
  }
  #truc{
    color: #E08D14;
    
  }
  .logout{
    background-color: #FFF;
    width: 70%;
    padding: 5px;
    border-radius: 10px;
  }
   .logout a{
    color: #02273D;

  }
  main{
    margin-top: 85px;
    padding: 2rem 1.5rem;
    background: #fff;
    min-height: calc(100vh - 90px);
  }
  .contenu{
    margin-top: -100%;
    background-color: #02273D;
    border-radius: 30px;
    height: 280px;
  }
  .img{
    height: 250px;
  }
  .titre{
    margin-top: 70px;
    color: white;
    text-align: center;
  }
  .titre h1{
    text-shadow: 2.5px 2.5px black;
    font-weight: bold;
    font-size: 45px;
  }
  .titre h3{
    text-shadow: 1px 1px black;
    color: white;
  }
  
   /*tablette*/
  @media screen and (max-width: 991px)  {
    /* banier */
  .contenu{
    height: 220px;
  }
  .img{
    height: 200px;
  }
  .titre{
    margin-top: 50px;
  }
  .titre h1{
    font-size: 40px;
  }
  .titre h3{
    font-size: 23px;
  }
  }
  
  
  /* téléphone */
  @media screen and (max-width: 767px) {
      /* banier */
  .contenu{
    height: 300px;
    /* border: 2px solid; */
  }
  .img{
    height: 150px;
    width: 60% !important;
    margin:0 auto;
    /* border: 2px solid; */
  }
  .titre{
    margin-top: 30px;
  }
  .titre h1{
    font-size: 35px;
  }
  .titre h3{
    font-size: 18px;
  }
  }
  .conten{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
  }
  .btn-17,
.btn-17 *,
/* .btn-17 :after, */
.btn-17 :before,
.btn-17:after,
.btn-17:before {
  border: 0 solid;
  box-sizing: border-box;
  /* color: white; */
}
.btn-17:after{
  color: white;
}

.btn-17 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #fff;
  background-image: none;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#fff, #fff);
  padding: 0;
  text-transform: uppercase;
  /* border: 1px solid #02273D; */
  /* color: #fff; */
}


.btn-17:disabled {
  cursor: default;
}

.btn-17:-moz-focusring {
  outline: auto;
}

.btn-17 svg {
  display: block;
  vertical-align: middle;
}

.btn-17 [hidden] {
  display: none;
}

.btn-17 {
  border-radius: 99rem;
  border-width: 2px;
  padding: 0.8rem 3rem;
  z-index: 0;
}

.btn-17,
.btn-17 .text-container {
  overflow: hidden;
  position: relative;
  color: #02273D;
}

.btn-17 .text-container {
  display: block;
  /* mix-blend-mode: difference; */

}

.btn-17 .text {
  display: block;
  position: relative;
}

.btn-17:hover .text {
  -webkit-animation: move-up-alternate 0.3s forwards;
  animation: move-up-alternate 0.3s forwards;
}

@-webkit-keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

.btn-17:after,
.btn-17:before {
  --skew: 0.2;
  background:#02273D;
  content: "";
  display: block;
  height: 102%;
  left: calc(-50% - 50% * var(--skew));
  pointer-events: none;
  position: absolute;
  top: -104%;
  transform: skew(calc(150deg * var(--skew))) translateY(var(--progress, 0));
  transition: transform 0.2s ease;
  width: 100%;
  color: white;
}

.btn-17:after {
  --progress: 0%;
  left: calc(50% + 50% * var(--skew));
  top: 102%;
  z-index: -1;
}

.btn-17:hover:before {
  --progress: 100%;
}

.btn-17:hover:after {
  --progress: -102%;
}

  /* .button {
    padding: 15px 20px;
    font-size: 16px;
    background: #02273D;
    border: none;
    position: relative;
    color: #02273D;
    z-index: 1;
  }
  
  .button::after,
  .button::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s;
  }
  
  .button::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 10px;
  }
  
  .button::after {
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: #02273D;
    backdrop-filter: blur(5px);
    border-radius: 50px;
  }
  
  .button:hover::before {
    transform: translate(5%, 20%);
    width: 110%;
    height: 110%;
    
  }
  
  .button:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;

  }
  
  .button:active::after {
    transition: 0s;
    transform: translate(0, 5%);
  } */

  .container-fluid{
    /* margin-top: -5%; */
    width: 90%;
    box-shadow: 5px 5px 30px rgba(99, 97, 97, 0.3);

  }
  .row {
    margin-top: 5%;
    /* gap: 5%; */
    margin-left: 1%;
  }
  #devi{
    background-color: #02273D;
    color: white; 
    width: 50%;
    margin-left: 20%;
  }
  #button{
    background-color: #02273D;
  }
  .pagination ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 45%;
    margin-top: 5%;
    margin-left: 50%;
}

.pagination a {
    display: inline-block;
    padding: 10px 18px;
    color: #02273D;
    border: 1px solid #02273D;
    border-radius: 100%;
    margin: 1%;


}

/* ONE */

.p1 a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center;
    text-decoration: none;

}

.p1 a.is-active {
    background-color: #02273D;
    border-radius: 100%;
    color: #fff;
    
}
.p2 a{
    border-radius: 1px solid black;
}
.text li{
   list-style: none; 
}
.text span{
    margin-left: 10%;
}
#modif{
    color: white;
    margin-bottom: 5%;
    margin-left: 50%;
    width: 20%; 
    background-color: #02273D;
    border: none;
    border-radius: 5px;
}
.utilsateur{
  color: white;
  background-color: #E08D14;
  width: 45%;
  text-align: center;
  margin-top: 40%;
  margin-left: 10%;
  font-size: 20px;
  border-radius: 10px;
}


/* ..................demenageur......................... */
.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, .1);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;

  a {
    color: inherit;
  }

  .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    /* transition: transform .2s; */
    margin-top: 2%;
  }

  .meta {
    position: relative;
    z-index: 0;
    height: 200px;
  }


 

  .description {
    padding: 1rem;
    background: #fff;
    position: relative;
    z-index: 1;

    h1, h2 {
      font-family: Poppins, sans-serif;
    }

    h1 {
      line-height: 1;
      margin: 0;
      font-size: 1.7rem;
    }

    h2 {
      font-size: 1rem;
      font-weight: 300;
      text-transform: uppercase;
      margin-top: 5px;
    }

  
  }

  p {
    position: relative;
    margin: 1rem 0 0;

    &:first-of-type {
      margin-top: 1.25rem;

      &:before {
        content: "";
        position: absolute;
        height: 5px;
        width: 35px;
        top: -0.75rem;
        border-radius: 3px;
      }
    }
  }

 

  @media (min-width: 640px) {
    flex-direction: row;
    max-width: 700px;

    .meta {
      flex-basis: 40%;
      height: auto;
    }

    .description {
      flex-basis: 60%;

      &:before {
        transform: skewX(-3deg);
        content: "";
        background: #fff;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
      }
    }

    &.alt {
      flex-direction: row-reverse;

      .description {
        &:before {
          left: inherit;
          right: -10px;
          transform: skew(3deg);
        }
      }

      .details {
        padding-left: 25px;
      }
    }
  }
}
.demenageur{
  background-color: #02273D;
  color: white;
  width: 100%;
}
.photo{
  border-radius: 10px;
  width: 100%;
  border-right: 10px solid #02273D;
  /* border: 1px solid rgb(92, 90, 90); */
  box-shadow: 10px 3px 7px -1px rgba(57, 56, 56, 0.1);
  height: 210px;

}
#dem{
  background-image: url(/assets/demenageurs.PNG);
  border-right: 10px solid #02273D;
  border-radius: 20px 0px 0px 20px;
}
/* .wrapper {
  max-width: 60em;
  margin: 0 auto;
} */

.scroll-cards {
  counter-reset: card;
  position: relative;
  display: block;
  width: 105%;
  /* padding-bottom: 120vh; */
}

.scroll-cards > .scroll-cards__item + .scroll-cards__item {
  margin-top: 1%;
}

.scroll-cards h1 {
  position: sticky;
  top: 2rem;
  font-size: 2em;
  margin: 0 0 0.2em;
}

.scroll-cards__item {
  --offset: 0.5em;
  color: #000;
  position: sticky;
  top: max(10vh, 5em);
  padding: 2px;
  min-height: 5px;
  background: #fff;
  box-shadow: 0 2px 40px rgba(247, 246, 246, 0.1);
  width: calc(150% - 5 * var(--offset));
  border: 1px solid rgb(208, 206, 206);
}

h6 {
  font-size: 1.25em;
  text-transform: uppercase;
  margin: 0;
}

p {
  font-size:12px;
  line-height: 1.5;
}

/* .scroll-cards__item:nth-of-type(0) {
  transform: translate(calc((0 - 1) * var(--offset)), calc((0 - 1) * var(--offset)));
}
.scroll-cards__item:nth-of-type(1) {
  transform: translate(calc((1 - 1) * var(--offset)), calc((1 - 1) * var(--offset)));
}
.scroll-cards__item:nth-of-type(2) {
  transform: translate(calc((2 - 1) * var(--offset)), calc((2 - 1) * var(--offset)));
}
.scroll-cards__item:nth-of-type(3) {
  transform: translate(calc((3 - 1) * var(--offset)), calc((3 - 1) * var(--offset)));
}
.scroll-cards__item:nth-of-type(4) {
  transform: translate(calc((4 - 1) * var(--offset)), calc((4 - 1) * var(--offset)));
}
.scroll-cards__item:nth-of-type(5) {
  transform: translate(calc((5 - 1) * var(--offset)), calc((5 - 1) * var(--offset)));
} */

@media screen and (min-width: 37em) {
  h1 {
    font-size: 3em;
  }
  .scroll-cards__item {
    --offset: 1em;
    padding-left: 5em;
  }
  .scroll-cards__item:before {
    counter-increment: card;
    content: "0" counter(card);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.75em;
    height: 1.75em;
    background: #02273D;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    left: 1.25em;
    top: 1.25em;
    font-weight: bold;
  }
}

@media screen and (min-width: 62em) {
  .scroll-cards h1 {
    font-size: 3em;
  }
  .scroll-cards__item {
    --offset: 1.25em;
    max-width: 42em;
  }
}


/* BEGIN CARD DESIGN */

.hero {
  display: inline-block;
  position: relative;
  width: 300px;
  min-width: 300px;
  height: 300px;
  border-radius: 30px;
  overflow:hidden;
  box-shadow: 5px 5px 30px rgba(152, 150, 150, 0.3);
  margin: 30px;
}
.desc{
  font-size: 13px;
  font-weight:600;
  /* color: #02273D; */
  
  
}
.hero-profile-img {
  height: 70%;
}

.hero-description-bk {
  background-color: #02273D;
  border-radius: 30px;
  position: absolute;
  top: 55%;
  left: -5px;
  height: 65%;
  width: 108%;
  transform: skew(19deg, -9deg);
}

.second .hero-description-bk {
  /* background-image: linear-gradient(-20deg , #bb7413, #e7d25c); */
  background-color: #02273D;
}

.hero-logo {
  height: 60px;
  width: 60px;
  border-radius: 20px;
  background-color: #fff;
  position: absolute;
  bottom: 30%;
  left: 30px;
  overflow:hidden;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.7);
}

.hero-logo img {
  height: 100%;
}

.hero-description {
  position: absolute;
  color: #fff;
  font-weight: 900;
  left: 150px;
  bottom: 26%;
}

.hero-btn {
  position: absolute;
  color: #fff;
  right: 30px;
  bottom: 10%;
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 20px;
}

.hero-btn a {
  color: #fff;
}

.hero-date {
  position: absolute;
  color: #fff;
  left: 30px;
  bottom: 10%;
}
/* END CARD DESIGN */

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: #eee;
  min-height: 100vh;
}
.btn i:before {
  width: 14px;
  height: 14px;
  position: fixed;
  color: #fff;
  background: #0077B5;
  padding: 10px;
  border-radius: 50%;
  top:5px;
  right:5px;
}
