    <input type="checkbox" id="nav-toggle">
    
    <div class="sidebar">
        <div class="sidebar-brand">
          <h1> <span class="fab fa-asymmetrik"> </span> <span>Aizcar</span>
          </h1>
        </div>
        
        <div class="sidebar-menu">
          <a [routerLink]="['/accueildemenageur']"    >
            <div class="image"><img src="/assets/camio-removebg-preview.png" alt=""></div>
          </a>
          <ul>
            <li>
              <a [routerLink]="['/accueildemenageur']"   >
                <span class="fas fa-tachometer-alt"></span>
                <span>Tableau e board</span>
              </a>
            </li>
            <li>
              <a  class="switch" [routerLink]="['/gestionprifil']" routerLinkActive="router-link-active" >
                <span class="fas fa-users" ></span>
                <span >Gestion Compte</span>
              </a>
            </li>
            <li>
              <a class="switch" [routerLink]="['/gestiondevis']"   >
                <span class="bi bi-truck"></span>
              <span>Gestion Devis</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/devisdemenageur']"  >
                <span class="fas fa-user-circle"></span>
                <span>Liste devis</span>
              </a>
            </li>
            <li>
              <a  class="active" [routerLink]="['/gestionoffre']"  >
                <span class="fas fa-tasks"></span>
                <span>Gestion Offres</span>
              </a>
            </li>
            <div class="logout mt-5">
              <a   class="logout">
                <i class="fa-solid fa-right-from-bracket" style="color: #E08D14;"></i>Deconnexion
            </a>
            </div>
            <!-- <div class="utilsateur">
              <span>Tableau demenageur</span>
            </div> -->
          </ul>
        </div>
    </div>    

    <div class="main-content">
      <header>
       

        <div class="search-wrapper">
          <span class="fas fa-search"> </span>
          <input type="search" placeholder="Search..." />

        </div>

        <div class="user-wrapper">
         <img src="/assets/photo.PNG" width="40px" height="40px" alt="profile-img">
         <div class="">
            <h5>Demenageur</h5>
            <!-- <small>Super Admin</small> -->
         </div>
        </div>
      </header>

      <main>
        <!-- gestion offre -->
       <div class="list">
        <div><h1>Liste des offres</h1></div>
        <div><!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="button">
              Ajout offre
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="form-group col-md-5">
                    <label for="">Nom_Offre</label>
                    <input type="text" name="nom_offre"  [(ngModel)]="nom_offre">
                  </div>
                  <div class="form-group col-md-5">
                    <label for="" >Prix-Offre</label>
                    <input type="text" name="prix_offre" [(ngModel)]="prix_offre"><br>
                  </div>
                </div>
                <div class="row">
                <div class="form-group col-md-5">
                    <label for="floatingTextarea">Description</label>
                    <textarea class="form-control" name="description_offre" placeholder="Leave a comment here" id="floatingTextarea" [(ngModel)]="description_offre"></textarea></div>
                  </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="postOffre()">Ajouter</button>
                    <button type="button" class="btn btn-primary">Annuler</button>
                  </div>
                </div>
              </div>
            </div></div>
       </div>
       <div class="container">
        <div class="row">
          
          <div class="col-md-10">
            <div class="card card-3" *ngFor="let offre of listoffre">
              <h3>{{offre.nom_offre}}</h3>
              <span class="prix">{{offre.prix_offre}}</span>
               <p>{{offre.description_offre}}</p>
                <div class="action "><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" id="modif" (click)="chargerinfoffre(offre)">
                      Modifier
                    </button>
                    <button type="button" class="btn btn-secondary btn-sm" id="Sup">Suprimer</button>
                  </div>
            </div>
          </div>
         <!---------------Modal pour Modifier une offre-------------->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="form-group col-md-5">
        <label for="">Nom_Offre</label>
        <input type="text" name="nom_offre"  [(ngModel)]="nom_offre">
      </div>
      <div class="form-group col-md-5">
        <label for="" >Prix-Offre</label>
        <input type="text" name="prix_offre" [(ngModel)]="prix_offre"><br>
      </div>
    </div>
    <div class="row">
    <div class="form-group col-md-5">
        <label for="floatingTextarea">Description</label>
        <textarea class="form-control" name="description_offre" placeholder="Leave a comment here" id="floatingTextarea" [(ngModel)]="description_offre"></textarea></div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modifierOffre()">Save changes</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
        </div>
      </div>
      <div class="pagination p1">
        <ul>
            <a >
                <li><</li>
            </a>
            <a class="is-active" >
                <li>1</li>
            </a>
            <a >
                <li>2</li>
            </a>
            <a >
                <li>3</li>
            </a>
            <a >
                <li>4</li>
            </a>
            <a >
                <li>5</li>
            </a>
            <a >
                <li>6</li>
            </a>
            <a >
                <li>></li>
            </a>
        </ul>
    </div>
      </main>
    </div>

