<app-header></app-header>
<div class="banier"></div>
<div class="container-fluid">
    <h1>Les Avantages de faire appel à un demenageur</h1>
    <div class="text mt-3">
        <div class="image"><img src="/assets/appp.PNG" alt=""></div>
        <div class="paragraf"><h2>Avantages</h2> <div class="line"></div>
            <p>Nous sommes engagés à protéger la vie privée de nos utilisateurs. 
            Cette politique de confidentialité explique comment nous collectons, 
            utilisons et protégeons les informations personnelles que vous nous 
            fournissez lorsque vous utilisez notre plateforme.
            Nous sommes engagés à protéger la vie privée de nos utilisateurs. 
            Cette politique de confidentialité explique comment nous collectons, 
            utilisons et protégeons les informations personnelles que vous nous 
            fournissez lorsque vous utilisez notre plateforme.
        </p><div class="line"></div>
            <h3>1. Economie de temps et d'energie</h3>
            <p>Nous  collectons les informations suivantes lorsque vous utilisez notre plateforme .
                Nous  collectons les informations suivantes lorsque vous utilisez notre plateforme .
                Nous  collectons les informations suivantes lorsque vous utilisez notre plateforme .
                Nous  collectons les informations suivantes lorsque vous utilisez notre plateforme .
                Nous sommes engagés à protéger la vie privée de nos utilisateurs. 
            Cette politique de confidentialité explique comment nous collectons, 
            utilisons et protégeons les informations personnelles que vous nous 
            fournissez lorsque vous utilisez notre plateforme.
            </p><div class="line"></div>
        </div>
        </div>
    
        <p>Informations Personnelles :
            Lors de la creation de votre compte vous pouvez être amener à fournir des 
            Informations que votre addresse email, votre numero de telephone et d’autres informations pertinentes pour faciliter la 
            mise en relation entre les déménageurs et les particuliers, nous collectons des informations sur votre déménagement, telles que la date prévue, la destination, le volume estimé et d'autres détails pertinents. Nous annalysons les données collectées pour ameliorer continuellemet nos services et personnaliser votre experience sur la plateforme. Nous ne vend
            vendons ni ne louons vos informations personnelles à des tiers. Cependant, nous pouvons partager vos informations dans les situations suivantes :</p>
            <p>Nous mettons en place des mesures de sécurité pour protéger vos informations personnelles contre tout accès non autorisé, divulgation, altération ou destruction. Nous reservons le droit de mettre à jour cette politique de confidentialité à tout moment . Nous vous recommandons de consulter régulierement cette page por rester inforler des modifications
                Pour toute question concernant notre politique de confidentialité, veuillez nous contacter à [adresse e-mail] ou à l'adresse postale suivante :
                
                Nous mettons en place des mesures de sécurité pour protéger vos informations personnelles contre tout accès non autorisé, divulgation, altération ou destruction. Nous reservons le droit de mettre à jour cette politique de confidentialité à tout moment . Nous vous recommandons de consulter régulierement cette page por rester inforler des modifications
                Nous mettons en place des mesures de sécurité pour protéger vos informations personnelles contre tout accès non autorisé, divulgation, altération ou destruction. Nous reservons le droit de mettre à jour cette politique de confidentialité à tout moment . Nous vous recommandons de consulter régulierement cette page por rester inforler des modifications</p><div class="line"></div>
                </div>   
                <div class="commentaire mt-3">
                    <div class="row ">
                    <div class="comment col-md-4"><span class="bi bi-chat-left-text ms-2">&nbsp;Laisser un commentaire</span>
                        <div class="notification mt-2">
                            <div class="notiglow"></div>
                            <div class="notiborderglow"></div>
                            <div class="notititle">Adama Sagna</div>
                            <div class="notibody">Contribute to Open Source UI Elements</div>
                          </div>
                    </div>
                    <div class="plus col-md-2"><span class="fa-solid fa-eye">&nbsp;voir plus...</span>
                    </div>
                </div>
            </div>
<app-footer></app-footer>