<app-header></app-header>

<div class="banier">
</div>
<div style="position: absolute; margin-top: -25%; margin-left: 5%;" id="titre"><p class="titre">Touver votre demenageur parfait</p>
  <span class="span">Demenager en un click</span>
</div>

<div class="container">
    <div class="row" id="etape" >
        <div class="col">
            <i class="bi bi-pass-fill"></i>
            <h5>Livraison économique</h5>
            <p id="info">Comparez les prix et choisissez le déménageur qui correspond à votre budget.</p>
        </div>

        <div class="col">
            <i class="bi bi-filter-square-fill"></i>
            <h5>Déposer votre demande de devis</h5>
            <p id="info">Choisissez l'option déménagement et renseignez le volume estimé ou décrivez chacun des objets à acheminer. Nous vous indiquerons une estimation du coût du transport selon les options.</p>
        </div>

        <div class="col">
            <i class="bi bi-filter-square-fill"></i>
            <h5>Recevez des devis</h5>
            <p id="info">Les professionnels dont le trajet coïncide avec votre demande vous font des offres de transport par Cocolis : discutez entre vous des détails pour votre déménagement pas cher.</p>
        </div>

        <div class="col">
            <i class="bi bi-filter-square-fill"></i>
            <h5>Valider votre demande</h5>
            <p id="info">Payez en ligne afin de valider votre devis. En tant que tiers de confiance, le paiement est versé au déménageur une fois le déménagement effectué.</p>
        </div>
    </div>

    <h1>Des services adaptés à vos besoins</h1>

    <div class="container text-center" id="besoin">
        <div class="row">
            <div class="col-sm-8" id="text" >
                <h4>Jamais seul dans votre déménagement</h4>
                <div class="line"><hr></div>
                <div class="text" style="margin-right: -100%;">
                    <p>En fonction de vos besoins et de la complexité de votre déménagement, nos conseillers sont à votre écoute en visioconférence et même en agence commerciale.</p>
                    <p>Des équipes dévouées au Service Client vous accompagnent dans la configuration de votre déménagement si vous en avez besoin, mais vous pouvez aussi réserver directement votre prestation de déménagement en toute autonomie.</p>
                </div>
            </div>

            <div class="col-sm-4" id="image" style="margin-left: 45%; width: 45%;">
                <!-- Contenu de la colonne image -->
            </div>
        </div>
    </div>

    <h1>Choisissez votre déménageur</h1>

    <div class="container" id="" >
        <div class="row  border" id="demenageurs" >
          <!-- card1 -->
          <div class="col-md-6 col-lg-4 border ">
            <div class="card">
              <!-- Contenu de la carte 1 -->
              <div class="card-image" id="Illustration"></div>
              <div class="category"> Illustration </div>
              <div class="heading">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Maiores laborum reprehenderit facilis ipsam voluptas libero aut atque, 
                    sunt minus quas rerum ab delectus blanditiis est nemo optio magni accusantium repellat!
                    sunt minus quas rerum ab delectus blanditiis est nemo optio magni accusantium repellat!
                    sunt minus quas rerum ab delectus blanditiis est nemo optio magni accusantium repellat!
                    sunt minus quas rerum ab delectus blanditiis est nemo optio magni accusantium repellat!</p>
              </div>
              <button type="button" class="btn btn-secondary mb-2 ms-4" style="background: #02273D; width: 85%;">Consulter</button>
          </div>
          </div>
          <!-- end card1 -->
          <!-- card 2 -->
          <div class="col-md-6 col-lg-4 border">
            <div class="card ">
              <!-- Contenu de la carte 2 -->
              <div class="card-image" id="Illustration"></div>
              <div class="category" style="background: #E08D14;"> Illustration </div>
              <div class="heading">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Maiores laborum reprehenderit facilis ipsam voluptas libero aut atque, 
                    sunt minus quas rerum ab delectus blanditiis est nemo optio magni accusantium repellat!
                    sunt minus quas rerum ab delectus blanditiis est nemo optio magni accusantium repellat!
                    sunt minus quas rerum ab delectus blanditiis est nemo optio magni accusantium repellat!
                    sunt minus quas rerum ab delectus blanditiis est nemo optio magni accusantium repellat!</p>
              </div>
              <button type="button" class="btn btn-secondary mb-2 ms-4" style="background: #02273D; width: 85%;">Consulter</button>
           </div>
          </div>
           <!--end card 2  -->
          <div class="col-md-6 col-lg-4 border">
            <div class="card">
              <!-- Contenu de la carte 3 -->
              <div class="card-image" id="Illustration"></div>
              <div class="category"> Illustration </div>
              <div class="heading">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Maiores laborum reprehenderit facilis ipsam voluptas libero aut atque, 
                    sunt minus quas rerum ab delectus blanditiis est nemo optio magni accusantium repellat!
                    sunt minus quas rerum ab delectus blanditiis est nemo optio magni accusantium repellat!
                    sunt minus quas rerum ab delectus blanditiis est nemo optio magni accusantium repellat!
                    sunt minus quas rerum ab delectus blanditiis est nemo optio magni accusantium repellat!</p>
              </div>
              <button type="button" class="btn btn-secondary mb-2 ms-4" style="background: #02273D; width: 85%;">Consulter</button>
          </div>
           </div>  

        <!-- <div class="row" style="margin-top: 2%;"> -->
          <div class="col-md-6 col-lg-4 mt-3" >
            <div class="card" id="card" >
                <!-- Contenu de la carte 4 -->
                <div class="card-image" id="Illustration"></div>
                <div class="category"> Illustration </div>
                <div class="heading">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Maiores laborum reprehenderit facilis ipsam voluptas libero aut atque, 
                    sunt minus quas rerum ab delectus blanditiis est nemo optio magni accusantium repellat!
                    sunt minus quas rerum ab delectus blanditiis est nemo optio magni accusantium repellat!
                    sunt minus quas rerum ab delectus blanditiis est nemo optio magni accusantium repellat!
                    sunt minus quas rerum ab delectus blanditiis est nemo optio magni accusantium repellat!</p>
                </div>
                <button type="button" class="btn btn-secondary mb-2 ms-4" style="background: #02273D; width: 85%;">Consulter</button>
              </div>
          </div>

          <div class="col-md-6 col-lg-4 mt-3">
            <div class="card" id="card">
              <!-- Contenu de la carte 5 -->
              <div class="card-image" id="Illustration"></div>
              <div class="category"> Illustration </div>
              <div class="heading">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Maiores laborum reprehenderit facilis ipsam voluptas libero aut atque, 
                    sunt minus quas rerum ab delectus blanditiis est nemo optio magni accusantium repellat!
                    sunt minus quas rerum ab delectus blanditiis est nemo optio magni accusantium repellat!
                    sunt minus quas rerum ab delectus blanditiis est nemo optio magni accusantium repellat!
                    sunt minus quas rerum ab delectus blanditiis est nemo optio magni accusantium repellat!</p>
              </div>
              <button type="button" class="btn btn-secondary mb-2 ms-4" style="background: #02273D; width: 85%;">Consulter</button>
          </div>

          </div >
          <div class="col-md-6 col-lg-4 mt-3">
            <div class="card" id="card">
              <!-- Contenu de la carte 6 -->
              <div class="card-image" id="Illustration"></div>
              <div class="category"> Illustration </div>
              <div class="heading">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Maiores laborum reprehenderit facilis ipsam voluptas libero aut atque, 
                    sunt minus quas rerum ab delectus blanditiis est nemo optio magni accusantium repellat!
                    sunt minus quas rerum ab delectus blanditiis est nemo optio magni accusantium repellat!
                    sunt minus quas rerum ab delectus blanditiis est nemo optio magni accusantium repellat!
                    sunt minus quas rerum ab delectus blanditiis est nemo optio magni accusantium repellat!</p>
              </div>
              <button type="button" class="btn btn-secondary mb-2 ms-4" style="background: #02273D; width: 85%;">Consulter</button>
          </div>

          </div>
          

          <div>

          </div>

  
        </div>

    <section>
        <h1>Comment ça marche</h1>

        <div class="cercle">
          <div><img src="/assets/image 15.png" alt=""></div>
            <section id="conference-timeline">
                <div class="conference-center-line"></div>
                <div class="conference-timeline-content">
                    <!-- Article 1 -->
                    <div class="timeline-article">
                        <div class="content-right-container">
                            <div class="content-right">
                                <p>Renseignez les informations sur  votre déménagement<span class="article-number"></span></p>
                            </div>
                        </div>
                        <div class="meta-date" style="margin-top: 0%;">
                            <span class="date">01</span>
                        </div>
                    </div>
                    <!-- // Article 1 -->

                    <!-- Article 2 -->
                    <div class="timeline-article">
                        <div class="content-right-container">
                            <div class="content-right">
                                <p>Soyez mis en relation avec maximum de 5 déménageurs <span class="article-number"></span></p>
                            </div>
                        </div>
                        <div class="meta-date">
                            <span class="date">02</span>
                        </div>
                    </div>
                    <!-- // Article 2 -->

                    <!-- Article 3 -->
                    <div class="timeline-article">
                        <div class="content-right-container">
                            <div class="content-right">
                                <p>Comparez et sélectionnez l'entreprise de déménagement qui convient à vos besoins <span class="article-number"></span></p>
                            </div>
                        </div>
                        <div class="meta-date">
                            <span class="date">03</span>
                        </div>
                    </div>
                    <!-- // Article 3 -->
                </div>
            </section>
        </div>
    </section>

    <h1 class="libelé mb-5 mt-3" >Découvrez nos articles pour  déménagement</h1>
    <div class="row mb-5 gap-5 ms-3" id="guide">
        <div class="card1">
            <div class="header">
              <div>
                <a class="title" href="#">
                  Building a SaaS product as a software developer
                </a>
                <p class="name">By John Doe</p>
              </div>
                <span class="image text-center">1</span>
            </div>
              <p class="description">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. At velit illum
                provident a, ipsa maiores deleniti consectetur nobis et eaque.
              </p>
            <dl class="post-info">
              <div class="cr">
                <dt class="dt">Consulter</dt>
                <dd class="dd">31st June, 2021</dd>
              </div>
              <div class="cr">
                <dt class="dt">Reading time</dt>
                <dd class="dd">3 minute</dd>
              </div>
            </dl>
          </div>
          <div class="card1">
            <div class="header">
              <div>
                <a class="title" href="#">
                  Building a SaaS product as a software developer
                </a>
                <p class="name">By John Doe</p>
              </div>
              <span class="image text-center">2</span>
            </div>
              <p class="description">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. At velit illum
                provident a, ipsa maiores deleniti consectetur nobis et eaque.
              </p>
            <dl class="post-info">
              <div class="cr">
                <dt class="dt">Consulter</dt>
                <dd class="dd">31st June, 2021</dd>
              </div>
              <div class="cr">
                <dt class="dt">Reading time</dt>
                <dd class="dd">3 minute</dd>
              </div>
            </dl>
          </div>
          <div class="card1">
            <div class="header">
              <div>
                <a class="title" href="#">
                  Building a SaaS product as a software developer
                </a>
                <p class="name">By John Doe</p>
              </div>
              <span class="image text-center">3</span>
            </div>
              <p class="description">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. At velit illum
                provident a, ipsa maiores deleniti consectetur nobis et eaque.
              </p>
            <dl class="post-info">
              <div class="cr">
                <dt class="dt">Consulter</dt>
                <dd class="dd">31st June, 2021</dd>
              </div>
              <div class="cr">
                <dt class="dt">Reading time</dt>
                <dd class="dd">3 minute</dd>
              </div>
            </dl>
          </div>

    <!-- <article class="cards col-lg-3 col-md-2" id="article">
      <div class="card-image">
      <img src="https://img.freepik.com/photos-gratuite/gros-plan-livreur-colis_23-2149095905.jpg?size=626&ext=jpg&ga=GA1.2.48596631.1693317651&semt=ais" alt="">
  
      </div>
  <div class="cards_content">
      <span class="cards_title">This is a Title</span>
          <span class="cards_subtitle">Thsi is a subtitle of this page. Let us see how it looks on the Web.</span>
          <p class="cards_description">Lorem ipsum dolor, sit amet  expedita exercitationem recusandae aut dolor tempora aperiam itaque possimus at, cupiditate earum, quae repudiandae aspernatur? Labore minus soluta consequatur placeat.</p>
      
  </div>
  </article>
  <article class="cards col-lg-3 col-md-2" id="article">
    <div class="card-image">
    <img src="https://img.freepik.com/photos-gratuite/gros-plan-livreur-colis_23-2149095905.jpg?size=626&ext=jpg&ga=GA1.2.48596631.1693317651&semt=ais" alt="">

    </div>
<div class="cards_content">
    <span class="cards_title">This is a Title</span>
        <span class="cards_subtitle">Thsi is a subtitle of this page. Let us see how it looks on the Web.</span>
        <p class="cards_description">Lorem ipsum dolor, sit amet  expedita exercitationem recusandae aut dolor tempora aperiam itaque possimus at, cupiditate earum, quae repudiandae aspernatur? Labore minus soluta consequatur placeat.
            Lorem ipsum dolor, sit amet  expedita exercitationem
        </p>
    
</div>
</article>
<article class="cards col-lg-3 col-md-2" id="article">
  <div class="card-image">
  <img src="https://img.freepik.com/photos-gratuite/gros-plan-livreur-colis_23-2149095905.jpg?size=626&ext=jpg&ga=GA1.2.48596631.1693317651&semt=ais" alt="">

  </div>
<div class="cards_content">
  <span class="cards_title">This is a Title</span>
      <span class="cards_subtitle">Thsi is a subtitle of this page. Let us see how it looks on the Web.</span>
      <p class="cards_description">Lorem ipsum dolor, sit amet  expedita exercitationem recusandae aut dolor tempora aperiam itaque possimus at, cupiditate earum, quae repudiandae aspernatur? Labore minus soluta consequatur placeat.
        Lorem ipsum dolor, sit amet  expedita exercitationem
      </p>
  
</div>
</article>
<article class="cards col-lg-3 col-md-2" id="article">
  <div class="card-image">
  <img src="https://img.freepik.com/photos-gratuite/gros-plan-livreur-colis_23-2149095905.jpg?size=626&ext=jpg&ga=GA1.2.48596631.1693317651&semt=ais" alt="">

  </div>
<div class="cards_content" style="border: 1px solid black;">
  <span class="cards_title">This is a Title</span>
      <span class="cards_subtitle">Thsi is a subtitle of this page. Let us see how it looks on the Web.</span>
      <p class="cards_description">Lorem ipsum dolor, sit amet  expedita exercitationem recusandae aut dolor tempora aperiam itaque possimus at, cupiditate earum, quae repudiandae aspernatur? Labore minus soluta consequatur placeat
        Lorem ipsum dolor, sit amet  expedita exercitationem
        .</p>
  
</div>
</article> -->
  </div>
   
</div>
</div>

<app-footer></app-footer>
