*{
    margin: 0 ;
}

.banier{
    /* height: 600px; */
    /* background-image: url(/assets/service.png);
    background-position: top; */
}
img{
    margin: 0 auto;
    width: 100%;
    margin-top: 6%;

}
.chiffre{
    display: flex;
    justify-content: space-around;
    width: 60%;
    font-size: 40px;
}
h3{
    text-align: center;
    margin-top: 5%;
    color: #02273D;
    border-radius: 5px;

}
.row{
  margin-left: 10%;
}
.iconn{
  background-color: #E08D14;
  width: 10%;
  border-radius: 5px;

}
.iconne{
  background-color: #02273D;
  width: 10%;
  border-radius: 5px;
}
#avantages{
    border: 1px solid black;
    border-radius: 5px;
    height: 60px;
    border-bottom: 2px solid #02273D;
    border-right:2px solid #02273D ;
}
#qualite {
  font-size: 20px;
}

.col{
  margin: 0 auto;
}
#col{
    gap: 1%;
    width: 90%;
    margin: 0 auto;
}
 
 #row1{
  margin-left: 10%;
  height: 300px;
  border-radius: 20px;
  width: 50%;
  border-left: 5px solid #02273D;
  border-toP: 3px solid #02273D;
  border-right: 1px solid #02273D;
  border-bottom: 1px solid #02273D;


 }
 #row2,#row3{
  height: 110px;
  border-radius: 20px;
  width: 40%;
  border-top: 3px solid #02273D;
 }
 #row2{
  /* margin-left: 40%; */
  border-left: 1px solid #02273D;
  border-bottom: 1px solid #02273D;
  border-right: 1px solid #02273D ;
  margin-left: 50%;
 }
 #row3{
  margin-left: 19%;
  border-left: 1px solid #02273D;
  border-bottom: 1px solid #02273D;
  border-right: 1px solid #02273D ;
 }
 .stat{
  background-color: #E08D14;
  color: #fff;
  padding: 10px;
  margin-right: 10%;
  border-radius: 10px;

 }
 .bleu{
  background-color: #02273D;
  color: #fff;
  padding: 10px;
  margin-right: 10%;
  /* margin-top: 30%; */
  border-radius: 10px;
 }
 .dscr{
  text-align: justify;
  font-size: 20px;
 }
 .type{
  justify-content: space-around;
 }
 .type p{
  font-size: 30px;
 }
 
 .paragraph :first-child{
  color: #E08D14;
 }
 .card {
  position: relative;
  width: 280px;
  height: 350px;
  box-shadow: 0px 1px 13px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: all 120ms;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 0.5em;
  padding-bottom: 3.4em;
}
.text {
  max-width: 55px;
}
.card{
  border: 3px solid #02273D;
}
.image {
  background: rgb(241, 241, 241);
  width: 100% ;
  height: 100%;
  display: grid;
  place-items: center;
  background-image: url(/assets/deme.PNG);
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  color: #02273D;
}
#types{
  margin:  0 auto;
  gap: 20%;
}

@media screen and (max-width: 1245px){
  *{
    margin: 0 auto;
  }
  hr{
    width: 50%;
  }
  #details{
    display: grid;
    grid-template-columns: auto;
    margin: 0 auto;
    text-align: justify; 
   
  }
  #details h6{
    font-weight: 700;
  }
  .iconn, .iconne{
    width: 50px;
  }
   #details p{
    width: 250px;
    margin-left: -35%;
  }
  #col{
    display: grid;
    grid-template-columns: auto;
    /* margin: 0 auto; */
    width: 95%;
    /* margin-left: -30%; */
  }
  #avantages{
    width: 345px;
    margin-left: 5% !important;
    /* margin: 0 auto; */

  }
  #avantages span{
    margin-top: 20% !important;
  }
  .dscr{
    font-size: 16px;
  }
  #row1{
    margin-left: -5% !important;
    width: 100%;  
  }
  .col{
    margin-left: -5% !important;
    width: 340px;
  }
  #row2,#row3{
    width: 100%;
  
  }
  #row3, #row2{
    margin-left: -5% !important;
  }
  .type{
    display: grid;
    grid-template-columns: auto;
    width: 90%;
  }
  .paragraph p{
    font-size: 18px;

  }
  .chiffre{
    font-size: 16px;
    display: grid;
    grid-template-columns: auto;
    gap: 8%;
    margin: 0 auto;
  }
  #rouge{
    width: 90%;
  }
  #types{
    margin: 0 auto;
    width: 80%;
  }
}