<app-header></app-header>

<div class="banier">
  <img src="/assets/service.png" alt="">
</div>

<div class="chiffre">
  <div>100% <br> <span>Travail performant</span></div>
  <div>+500 <br><span>Déménagements réussis</span></div>
</div>
<hr>

<h3>Processus de mise en relation</h3>

<div class="container-fluid">
  <div class="row mt-5 " id="details">
    <div class="col-6 col-md-4 mt-5">
      <div class="iconn mb-2">
        <i class="fa-solid fa-file-lines" style="color: #fff;  margin-left: 30%"></i>
      </div>
      <h6>Demande de devis</h6>
      <p>Commencez par soumettre les détails de votre déménagement, 
        tels que la date prévue, la quantité d'articles à déplacer, et vos besoins spécifiques.
      </p>
    </div>
    <div class="col-6 col-md-4 mt-5">
      <div class="iconne mb-2">
        <i class="fa-solid fa-eye " style="color: #fff;  margin-left: 30%"></i>
      </div>
      <h6>Réception de devis</h6>
      <p  >Une fois que nous avons vos informations, 
        notre plateforme sollicite des devis auprès 
        de déménageurs professionnels partenaires. 
        Vous recevrez ensuite plusieurs devis personnalisés 
        pour comparer les coûts et les services.
      </p>
    </div>
    <div class="col-6 col-md-4 mt-5">
      <div class="iconn mb-2">
        <i class="fa-solid fa-list-check" style="color: #fff; margin-left: 30%;"></i>
      </div>
      <h6>Confirmation de devis</h6>
      <p >Une fois votre choix effectué, confirmez votre déménagement
        directement sur la plateforme. Vous pourrez ainsi coordonner 
        les détails logistiques avec le déménageur sélectionné.
      </p>
    </div>
  </div>
  <hr style="margin-top: 5%;">
  <h3 >Les avantages de nos services</h3>
  <p style="text-align: center; margin-top: 3%; ">Fini les tracas de recherche, gagnez du temps et profitez
    d'un service fiable.<br> Nous sommes là pour rendre votre déménagement simple, rapide et sans souci !
  </p>
</div>

<div class="row text-center mt-5  col-md-2" id="col">
  <div class="col" id="avantages"><span><i class="fa-solid fa-cubes-stacked" style="color: #E08D14;"></i>Expertise</span></div>
  <div class="col" id="avantages"><span><i class="fa-solid fa-cubes-stacked" style="color: #E08D14;"></i>Qualité</span></div>
  <div class="col" id="avantages"><span> <i class="fa-solid fa-hourglass-end" style="color: #E08D14;"></i>A temps</span></div>
  <div class="col" id="avantages"><span>A temps</span></div>
</div>

<div class="container-fluid text-center mt-5 justify-content-center" id="rouge" >
  <div class="col ms-5 " id="pres">
    <div class="row col-md-4 ms-5 "  id="row1">
      <p class="dscr  mt-5">Notre plateforme de déménagement simplifie votre vie en vous
        connectant rapidement à des déménageurs de confiance. Obtenez 
        facilement des devis, choisissez parmi des professionnels 
        sélectionnés, et bénéficiez d'un déménagement en toute sécurité
      </p>
    </div>
    <div class="row col-md-2 me-5"  id="row2">
      <p><span class="stat">50%</span>
        Les déménagements qui ont été abandonnés ou annulés
      </p>
    </div>
    <div class="row col-md-2 ms-5" id="row3">
      <p><span class="bleu mt-5">100%</span>
        Des prestations bien faites
      </p>
    </div>
  </div>
</div>

<h1 class="types text-center mt-5  ">Nos différents types de déménagement</h1>

<div class="row mb-5" id="types" >
  <div class="col-md-6">
    <div class="type d-flex mt-5 mb-5 ">
      <div class="paragraph mt-5 ms-3">
        <p>Déménagements Ménagères</p>
        <p>Déménagement pour les bureaux</p>
        <p>Les magasins ou boutiques</p>
        <p>Déplacement quelques cartons</p>
      </div>
    </div>
  </div>
  <div class="col-md-2"   >
    <div class="card mt-5">
      <div class="image"></div>
      <span class="price">$100</span>
    </div>
  </div>
</div>

<app-footer></app-footer>
