<app-header></app-header>
<div class="banier"><img src="/assets/service.png" alt="">
</div>

<div class="chiffre">
    <div>100% <br> <span>Travail performant</span></div>
    <div>+500 <br><span>Demenagements reussi</span></div>
</div><hr>
<h3>Processus de mise en relation</h3>
<div class="container">
<div class="row mt-5 ">
  <div class="col-6 col-md-4 mt-5">
      <div class="iconn mb-2"><i class="fa-solid fa-file-lines" style="color: #fff;  margin-left: 30%"></i></div>
        <h6>Demande de devis</h6>
    <p>Commencez par soumettre les détails de votre déménagement, 
    tels que la date prévue, la quantité d'articles à déplacer, et vos besoins spécifiques.
    </p>
    </div>
    <div class="col-6 col-md-4 mt-5">
      <div class="iconne mb-2"><i class="fa-solid fa-eye " style="color: #fff;  margin-left: 30%"></i></div>
        <h6>Reception de devis</h6>
        <p>Une fois que nous avons vos informations, 
        notre plateforme sollicite des devis auprès 
        de déménageurs professionnels partenaires. 
        Vous recevrez ensuite plusieurs devis personnalisés 
        pour comparer les coûts et les services.
        </p>
    </div>
    <div class="col-6 col-md-4 mt-5">
      <div class="iconn mb-2"><i class="fa-solid fa-list-check" style="color: #fff; margin-left: 30%;"></i></div>
        <h6>Confirmation de devis</h6>
        <p>Une fois votre choix effectué, confirmez votre déménagement
         directement sur la plateforme. Vous pourrez ainsi coordonner 
         les détails logistiques avec le déménageur sélectionné.
        </p>
    </div> <hr style="margin-top: 5%;">
    <h3>Les avantages de nos services</h3>
    <p style="text-align: center; margin-top: 3%;">Fini les tracas de recherche, gagnez du temps et profitez
         d'un service fiable.<br> Nous sommes là pour rendre votre déménagement simple, rapide et sans souci !

    </p>

  </div>
</div>
  <div class="container text-center mt-5" style= " margin-left: 8%;">
    <div class="row justify-content-center" id="col">
      <div class="col" id="avantages">Expertise</div>
      <div class="col" id="avantages">Qualité</div>
      <div class="col" id="avantages">A temps</div>
      <div class="col" id="avantages">A temps</div>
    </div>
    <!-- <div class="card mt-5">
        <div class="main-content">
          <div class="header">
        <span>Article on</span>
        <span>29-June-2023</span>
      </div>
      <p class="heading">Different ways to use CSS in React</p>
      <div class="categories">
        <span>React</span>
        <span>Css</span>
      </div>
        </div>
      <div class="footer">
        by Harsh Gupta
      </div>
      </div> -->
</div>
<div class="container text-center" >
  <div class="col" id="pres">
    <div class="row col-md-4 "  id="row1">
      <p class="dscr  mt-5">Notre plateforme de déménagement simplifie votre vie en vous
       connectant rapidement à des déménageurs de confiance. Obtenez 
       facilement des devis, choisissez parmi des professionnels 
       sélectionnés, et bénéficiez d'un déménagement en toute sécurité

      </p>
    </div>
    <div class="row col-md-2 "  id="row2">
      <p><span class="stat">50%</span>
        Les demenagement qui ont éte abandonnés ou annuler
      </p>
    </div>
    <div class="row col-md-2 " id="row3">
      <p><span class="bleu mt-5">100%</span>
        Des prestation bien faits
      </p>
    </div>
  </div>
</div>
<h1 class="types text-center mt-5 ">Nos differents types de demenagement</h1>
<div class="type d-flex mt-5 mb-5">
  <div class="paragraph mt-5">
    <p>Demnagements Menagéres</p>
    <p>Demenagement pour les bureaux</p>
    <p>Les magasins ou boutiques</p>
    <p>Deplacement queleques cartons</p>
  </div>
  <div class="card">
    <div class="image"></div>
      <span class="price">$100</span>
    </div></div>
    <app-footer></app-footer>